# Dependencies
node_modules/

# Build outputs
android/app/build/
android/build/
ios/build/
ios/Pods/
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# CocoaPods vendor
ios/vendor/

# Ruby bundler vendor
vendor/bundle/
vendor/cache/

# Misc
.DS_Store
*.log
